<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmapssimple"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10"
        android:targetSdkVersion="17"></uses-sdk>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <uses-library android:required="true" android:name="com.google.android.maps"></uses-library>
        <activity
            android:name=".Main"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
      
         <activity
            android:name=".ShowMap"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.gmapssimple.SHOWMAP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name=".SignIn"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.gmapssimple.SIGNIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        
         
         <activity
            android:name=".Register"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.gmapssimple.REGISTER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name=".UploadImage"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.gmapssimple.UPLOADIMAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
          <activity
            android:name=".OpenMap"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.gmapssimple.OPENMAP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
           

         <activity
            android:name=".PinpointView"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.gmapssimple.PINPOINTVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
          <activity
            android:name=".AboutAB"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.gmapssimple.ABOUTAB" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
           <activity
            android:name=".CreatePin"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.gmapssimple.CREATEPIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
           
           
            <activity
            android:name=".PinpointDetails"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.gmapssimple.PINPOINTDETAILS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
            
            
        
            
            
        
             <activity
            android:name=".MyTrek"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.gmapssimple.MYTREK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
             
             <activity
            android:name=".ListViewActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.gmapssimple.LISTVIEWACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
             
       <activity
            android:name=".Direction"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.gmapssimple.DIRECTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
       
       <activity
            android:name=".SlideActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.gmapssimple.SLIDEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
       
       <activity
            android:name=".SingleChoiceItemListExampleActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.gmapssimple.SINGLECHOICEITEMLISTEXAMPLEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        
    </application>

</manifest>